--find-links https://download.pytorch.org/whl/cu124

numpy>1.2
hydra-core==1.1.1
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
ftfy
torch==2.4.0
torchvision==0.17.0
torchsde
torchdiffeq
pytorch-lightning==2.0.8
gitpython
scipy
sentence-transformers
einops
gym
moviepy==1.0.3
tqdm
termcolor
wandb
einops_exts
flash_attn==2.7.3
git+git@gitee.com:geekyzql/CLIP.git
timm
